{% extends 'base.html.twig' %}

{% block title %}Temperatura w mieście {{ cityName }}{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="row align-items-center">
            <h2>
                Temperatura w mieście {{ cityName }} aktualnie wynosi {{ currentTemperature }}
            </h2>
        </div>

        <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Temperatura</th>
                </tr>
                </thead>
                <tbody>

                {% for temperature in temperatures %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ temperature.date }}</td>
                        <td>{{ temperature.temperature }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
